<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3279b7;">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Profile</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Edit Profile
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" th:href="@{/edit_profile}">Edit Profile</a></li>
                            <li><a class="dropdown-item" th:href="@{/edit_contacts}">Edit Contacts</a></li>
                            <li><a class="dropdown-item" th:href="@{/edit_skills}">Edit Skills</a></li>
                            <li><a class="dropdown-item" th:href="@{/edit_practice}">Edit Practice</a></li>
                            <li><a class="dropdown-item" th:href="@{/edit_practise}">Edit Education</a></li>
                            <li><a class="dropdown-item" th:href="@{edit_languages}">Edit Language</a></li>
                            <li><a class="dropdown-item" th:href="@{edit_education}">Edit Education</a></li>
                            <li><a class="dropdown-item" th:href="@{edit_hobbies}">Edit Hobby</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>